streamlit==1.54.0
streamlit-option-menu==0.3.12
plotly==5.18.0
pandas==2.1.4
requests==2.33.0
redis==5.0.1
paramiko==5.0.0
mysql-connector-python==9.1.0
psycopg2-binary==2.9.9
pymongo==4.6.3
python-nmap==0.0.1
scapy==2.7.0rc1
cryptography==48.0.1
aiohttp==3.14.1
geoip2==4.7.0
maxminddb==2.2.0
validators==0.22.0
beautifulsoup4==4.12.2
lxml==6.1.0
dnspython==2.6.1
netaddr==0.9.0
